/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed red
}

/* fonts */
body {
	font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/* general */
.container {
    max-width: 480px;
    margin: 0 auto;
}
main {
    background-color: #F6F5F3;
}
ul {
    list-style: none;
}
.btn {
	border: 0;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 20px;
	cursor: pointer;
	text-transform: uppercase;
	background-color: #FFFFFF;
    box-shadow: 1px 1px 1px #BDB3A8;
}
footer {
    background-color: #7B68A3;
}

/* header */
.topbar {
	height: 70px;
	padding: 0 20px;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	color: #FF9614;
	font-size: 3em;
	text-decoration: none;
	font-family: 'Nerko One', cursive;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #BDB3A8;
}

/* main */

/* ricetta */
.recipe {
	margin-bottom: -30px;
    padding: 9px;
}
.recipe-category {
    color: #999999;
    padding-block: 4px;
}
.recipe-name {
    color: #4E3869;
    padding-block-end: 8px;
}
.recipe-origin {
    display: none;
}
.recipe-image {
    width: 100%;
    height: auto;
}
.quick-notes {
    background-color: #FFFFFF;
    padding: 25px;
    box-shadow: 1px 1px 1px #BDB3A8;
    margin: 10px;
}
.quick-notes-list {
    margin-block: 13px;
}
/* social */
.social-networks {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	margin-bottom: 10px;
}
.label {
	display: none;
}

/* banner */
.banner {
    width: 100%;
    height: auto;
    display: none;
}

/* preparazione */
.presentation {
	margin: 20px 0;
    padding: 20px;
}
.presentazion-image {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.line {
    border: 1px solid #F6972E;
    width: 15%;
    margin-block: 10px;
}
/* footer */
.container-footer {
    max-width: 480px;
    margin: 0 auto;
    height: 106px;
}
.footer-address {
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    padding: 10px;
}
.footer {
    display: flex;
	justify-content: space-between;
    padding: 22px;
}
footer ul li a {
    color: #FFFFFF;
    font-size: 10px;
}
/* responsive tablet */
@media screen and (min-width: 768px) {
    .topbar {
        justify-content: flex-start;
        font-size: 1rem;
    }
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
    .recipe {
        padding: 35px;
    }
    .recipe-category {
        font-size: 14px;
    }
    .recipe-origin {
        display: inline-block;
        font-size: 30px;
    }
    .recipe-name {
        font-size: 30px;
    }
    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }
    .quick-notes li {
        width: calc(100% / 3);
    }
    .btn {
        width: 100%;
        margin-block: 10px;
    }
    .social-networks {
        padding-inline: 35px;
    }
    .banner {
        display: block;
        padding-inline: 35px;
    } 
    .presentation {
        padding-inline: 35px;
    }
    .presentazion-image {
        width: 50%;
        float: left;
    }

}
/* responsive desktop */
@media screen and (min-width: 992px) {
    #topbar {
        font-size: 1.2rem;
    }
    .recipe-category {
        font-size: 8px;
    }
    .recipe-origin {
        font-size: 30px;
    }
    .recipe-name {
        font-size: 30px;
    }
    .recipe-image {
        width: 70%;
        display: flex;

    }
    .quick-notes li{
        width: 100%;
        margin-block: 0;
    }
    .label {
        display: block;
    }
    .btn {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}